ProblemStatement {
    max-width: 720px;
}

pre {
    border-color: whitesmoke;
    border-left-width: 2px;
    padding-left: 1rem;
    overflow: visible;
    white-space: pre-wrap;
}

.example_1, .example_2{
    margin: 2rem 0;
}

h2{
    margin: 0;
}